<%- include("partials/header.ejs") %>

<div class = "FAQs">
    <br/>
    <h5>Q: How do I write a blog?</h5>
    <p>A: To start a blog, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae dui ac nisi gravida volutpat id eu mi. Sed cursus nibh velit, in egestas quam luctus non.</p>
    <br/>
    <hr/>
    <br>
    <h5>Q: How do I edit/delete my blogs?</h5>
    <p>A: To edit or delete a blog, Suspendisse ullamcorper faucibus tellus, convallis facilisis justo egestas ac. Sed sed pharetra odio. Pellentesque iaculis lacus elit, convallis tempus lacus vehicula eu. Cras auctor, erat at tincidunt sodales, augue ipsum auctor odio, quis posuere lorem mauris.</p>
    <br/>
    <hr/>
    <br>
    <h5>Q: How do I delete my account?</h5>
    <p>A: To delete your account, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque vel eros vel luctus. Aenean malesuada commodo massa nec finibus.</p>
    <br/>
    <hr/>
    <br>
    <h5>Q: How do I sort blogs by date?</h5>
    <p>A: To sort blogs by date, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis leo vel purus tincidunt, quis convallis orci porta. Duis rutrum, tellus at auctor rhoncus, tellus lacus accumsan arcu, euismod vestibulum elit libero eget erat. Morbi in congue lectus, sit amet.</p>
    <br>
</div>

<%- include("partials/footer.ejs") %>