<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Cocktail</title>
  </head>
  <body>
    <h2>You are lucky to try: </h2>
    <h1><%= cocktail.strDrink %></h1>
    <h3>Category: <span style="color: white;"><%= cocktail.strCategory %></span></h3>
    <img src="<%= cocktail.strDrinkThumb %>">
    </span></h3>
  </body>
</html>
