<%- include('partials/header.ejs') %>

<form action="/Blogs" method="POST">
    <input name="title" placeholder="Write your title here" style="font-size:2rem; width:100%; margin-top: 15px;"><br/>
    <textarea name="content" placeholder="How is you day? What is on your mind?" style="min-height: 300px; font-size: 1.2rem; width: 100%; margin-top: 15px;"></textarea>
    <button type="submit" style="margin-top: 10px;">Publish Your Blog</button>
</form>