<%- include("partials/header.ejs") %>

<form action="/Blogs" method="POST">
<input type="text" name="title" style="width:100%" placeholder="Title">
<textarea type="text" name="content" style="width:100%" placeholder="How's your day?"></textarea>
<button type="submit">Submit</button>
</form>

<%- include("partials/footer.ejs") %>
