<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

    <header>
        <div class="header-left">
            <a href="/"><button><span>Home</span></button></a>
            <a href="/Blogs"><button><span>Blogs</span></button></a>
            <a href="/WriteBlog"><button><span>Write a Blog</span></button></a>
        </div>
        <div class="header-right">
            <input type="text" placeholder="Search">
            <a href="/SearchResult"><button><span>Search</span></button></a>
        </div>
    </header>

    <main>
        <hr/>