
</main>
        <footer class="border-top pt-3">
            <div>
            © 2025 Studio Alex
            </div>
            <div>
                <%= today %>
            </div>
        </footer>
</body>
</html>