<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Alex's New Capstone Pr1oject</title>
</head>

<body>
    <header>
        <div class="header-top">
            <div>
                <a href="/"><button>Home</button></a>
                <a href="/Blogs"><button>Blogs</button></a>
            </div>
            <div>
                <input type="text" placeholder="Search">
                <a href="/AddBlog"><button>Write a Blog</button></a>
            </div>
        </div>
    <div>
    <hr style="border: 0; height: 2px; background-color: plum;"/></div>
    </header>

<main>
    
